M5KA_POSTGRES_NAME=m5ka
M5KA_POSTGRES_USER=m5ka
M5KA_POSTGRES_PASSWORD=m5ka
M5KA_POSTGRES_HOST=localhost
M5KA_POSTGRES_PORT=5432
M5KA_BASE_URL=http://m5ka.dev
M5KA_SECRET_KEY=m5ka-secret-key-nc2f8gebz39u
M5KA_STATIC_URL=/static/
M5KA_ALLOWED_HOSTS=m5ka.dev
M5KA_CSRF_ORIGINS=https://m5ka.dev
