{% load i18n m5ka_navigation static wagtailcore_tags wagtailuserbar %}
{% wagtail_site as current_site %}
{% get_current_language as current_language %}
<!doctype html>
<html lang="{{ current_language }}">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% if current_site and current_site.site_name %}{% block title_separator %}- {% endblock title_separator %}{{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/m5ka.css' %}">
        {% block extra_css %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header class="header">
            <a href="{% pageurl current_site.root_page.localized %}" class="header__brand">m5ka<span>.dev</span></a>
            {% if page %}
                <div class="header__translations">
                    {% for translation in page.get_translations.live %}
                        <a class="header__translation" href="{% pageurl translation %}" rel="alternate" hreflang="{{ translation.locale.language_code }}">
                            <img width="24" src="{% static 'images/locales/'|add:translation.locale.language_code|add:'.png' %}" alt="{{ translation.locale.language_code }}">
                            {{ translation.locale.language_name_local|lower }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            <nav class="header__nav">
                {% menu_links "header" as header_links %}
                {% for link in header_links %}
                    <a class="header__nav-item" href="{% pageurl link.page %}">{{ link.text }}</a>
                {% endfor %}
            </nav>
        </header>
        {% block pre_content %}{% endblock pre_content %}
        {% block content_wrapper %}
            <main class="{% block content_wrapper_class %}main{% endblock content_wrapper_class %}">
                {% block content %}{% endblock content %}
            </main>
        {% endblock content_wrapper %}
        {% block post_content %}{% endblock post_content %}
        <footer class="footer">
            <div class="footer__container">
                <nav class="footer__nav"></nav>
                {% if settings.m5ka_core.SocialSettings.site_copy.footer_text %}
                    <div class="footer__content">
                        {{ settings.m5ka_core.SocialSettings.site_copy.footer_text|richtext }}
                    </div>
                {% endif %}
                {% if settings.m5ka_core.SocialSettings.site_copy.copyright_author %}
                    <p class="footer__copyright">&copy; {% now "Y" %} {{ settings.m5ka_core.SocialSettings.site_copy.copyright_author }}</p>
                {% endif %}
            </div>
        </footer>
        <script src="{% static 'js/m5ka.js' %}" type="text/javascript"></script>
        {% if goatcounter_url and not request.in_preview_panel %}
            <script data-goatcounter="{{ goatcounter_url }}/count" async src="{{ goatcounter_url }}/count.js"></script>
        {% endif %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
