@layer reset, defaults, components;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Libre+Baskerville:ital@0;1&display=swap');
@import url('reset.css') layer(reset);

:root {
  /* Real colour values */
  --m5ka-deepslate: #191921;
  --m5ka-slate: #242731;
  --m5ka-pigeon: #3a3e4e;
  --m5ka-stone: #656d89;
  --m5ka-white: #ffffff;

  --m5ka-hue-accent: 175;
  --m5ka-accent-500: oklch(0.7 0.16 var(--m5ka-hue-accent));
  --m5ka-accent-400: oklch(from var(--m5ka-accent-500) calc(l + 0.09) calc(c - 0.05) h);
  --m5ka-accent-300: oklch(from var(--m5ka-accent-500) calc(l + 0.15) calc(c - 0.09) h);
  --m5ka-accent-200: oklch(from var(--m5ka-accent-500) calc(l + 0.22) calc(c - 0.12) h);

  /* Semantic colour values */
  --m5ka-background: var(--m5ka-slate);
  --m5ka-background-gradient: radial-gradient(circle at bottom right, var(--m5ka-slate) 0%, var(--m5ka-deepslate) 67%);
  --m5ka-text: var(--m5ka-white);
  --m5ka-text-subtle: var(--m5ka-stone);
  --m5ka-link: var(--m5ka-accent-500);
  --m5ka-border: var(--m5ka-pigeon);

  /* Sizing */
  --m5ka-font-sm: 1.4rem;
  --m5ka-font-md: 1.6rem;
  --m5ka-font-lg: 1.9rem;
  --m5ka-font-xl: 2.4rem;
  --m5ka-font-2xl: 2.8rem;
  --m5ka-font-hero: 3.8rem;

  --m5ka-spacing: 1.8rem;

  --m5ka-content-width: 960px;
  --m5ka-content-width-narrow: 724px;
  --m5ka-content-gutter: var(--m5ka-spacing);

  /* Typography */
  --m5ka-font-body: 'IBM Plex Mono', Courier New, monospace;
  --m5ka-font-heading: 'Libre Baskerville', Georgia, Times New Roman, serif;
}

/* Border sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* HTML & body globals */
html {
  font-size: 62.5%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--m5ka-font-body);
  font-size: var(--m5ka-font-md);
  min-height: 100vh;
  background: var(--m5ka-background-gradient);
  background-attachment: fixed;
  color: var(--m5ka-text);
  line-height: 1.6;
}

/* Spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@layer defaults {
  a {
    color: var(--m5ka-link);
    text-decoration: none;
    position: relative;
  }

  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .1s ease-in-out;
  }

  a:hover::after {
    transform: scaleX(1);
  }

  h1, h2, h3, h4, h5 {
    font-family: var(--m5ka-font-heading);
  }

  .main h2 {
    font-size: var(--m5ka-font-2xl);
    text-wrap: pretty;
  }

  .main h3 {
    font-size: var(--m5ka-font-xl);
    text-wrap: pretty;
  }

  .main h4 {
    font-size: var(--m5ka-font-lg);
  }

  .main ul, .main ol {
    padding-inline-start: var(--m5ka-spacing);
  }

  .main ul li + li, .main ul li + ul,  .main ul li + ol,
  .main ol li + li,  .main ol li + ul, .main ol li + ol {
    margin-block-start: calc(var(--m5ka-spacing) * 0.75);
  }

  .main ul {
    list-style: disc;
  }

  .main ul ul {
    list-style: circle;
  }

  .main ol {
    list-style: decimal;
  }

  .main blockquote {
    border-left: 4px solid var(--m5ka-border);
    padding-inline-start: var(--m5ka-spacing);
  }

  b, strong {
    font-weight: bold;
  }

  i, em {
    font-style: italic;
  }

  u {
    text-decoration: underline wavy;
    text-decoration-skip-ink: none;
  }

  .icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
    fill: currentColor;
  }

  .icon--spinning {
    animation: spin 2s linear infinite;
  }
}

@layer components {
  .header {
    max-width: var(--m5ka-content-width);
    margin-inline: auto;
    padding-inline: var(--m5ka-content-gutter);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-block: 3.2rem 2.2rem;
    column-gap: var(--m5ka-spacing);
    border-bottom: 1px solid var(--m5ka-border);
  }

  .header__brand {
    color: var(--m5ka-text);
  }

  .header__brand span {
    color: var(--m5ka-text-subtle);
  }

  .header__nav {
    display: flex;
    flex-flow: row wrap;
    column-gap: var(--m5ka-spacing);
  }

  .header__nav > [href]::before {
    content: "/";
    color: var(--m5ka-text-subtle);
  }

  .header__nav-item {
    text-transform: lowercase;
  }

  .main {
    margin-block-start: calc(var(--m5ka-spacing) * 2);
    margin-inline: auto;
    padding-inline: var(--m5ka-content-gutter);
    max-width: var(--m5ka-content-width-narrow);
  }

  .main--wide {
    max-width: var(--m5ka-content-width);
  }

  .main__title {
    font-size: var(--m5ka-font-hero);
    text-align: center;
  }

  .main > * + * {
    margin-block-start: calc(var(--m5ka-spacing) * 1.5);
  }

  .hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: calc(var(--m5ka-spacing) * 1.5);
    padding-block: calc(var(--m5ka-spacing) * 2);
  }

  .hero__image {
    max-width: 240px;
    border-radius: 50%;
  }

  .hero__heading {
    font-size: var(--m5ka-font-hero);
    margin-block-end: calc(var(--m5ka-spacing) / 2);
    line-height: 1.2;
  }

  .hero__subheading {
    font-size: var(--m5ka-font-lg);
    text-wrap: pretty;
  }

  .hero__links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: calc(var(--m5ka-spacing) * 1.5);
    margin-block-start: calc(var(--m5ka-spacing) * 1.5);
    font-size: var(--m5ka-font-sm);
  }

  .hero__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--m5ka-white);
    column-gap: calc(var(--m5ka-spacing) / 2);
  }

  @media(min-width: 768px) {
    .hero {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: calc(var(--m5ka-spacing) * 1.5);
      min-height: 66vh;
    }

    .hero__subheading {
      max-width: 70%;
    }
  }

  .page-link {
    display: block;
    border: solid var(--m5ka-border);
    border-width: 0 0 1px 1px;
    padding: 0 0 calc(var(--m5ka-spacing) * .75) var(--m5ka-spacing);
    color: var(--m5ka-white);
    transition: color .2s ease-in-out;
  }

  .page-link::after {
    content: none;
  }

  .page-link:hover {
    color: var(--m5ka-accent-500);
  }

  .page-link__title {
    font-family: var(--m5ka-font-heading);
    font-size: var(--m5ka-font-xl);
  }

  .page-link__excerpt {
    font-size: var(--m5ka-font-sm);
    margin-block-start: calc(var(--m5ka-spacing) / 2);
  }

  .page-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--m5ka-spacing);
    column-gap: calc(var(--m5ka-spacing) * 1.5);
  }

  @media(min-width: 768px) {
    .page-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .page-cards .page-link__excerpt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }

  .footer {
    position: relative;
    isolation: isolate;
    margin-block-start: calc(var(--m5ka-spacing) * 4);
    padding-block: calc(var(--m5ka-spacing) * 4) calc(var(--m5ka-spacing) * 6);
  }

  .footer::before,
  .footer::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    mask-image: linear-gradient(to bottom, transparent, black 65%);
  }

  .footer::before {
    background:
      radial-gradient(ellipse 55% 90% at 10% 110% in oklab, oklch(from var(--m5ka-accent-500) l c h / 40%), transparent 70%),
      radial-gradient(ellipse 45% 80% at 90% 100% in oklab, oklch(from var(--m5ka-accent-400) l c calc(h + 50) / 30%), transparent 70%),
      radial-gradient(ellipse 40% 70% at 50% 115% in oklab, oklch(from var(--m5ka-accent-500) l c calc(h + 25) / 22%), transparent 70%),
      oklch(from var(--m5ka-deepslate) l c h / 55%);
  }

  .footer::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
    background-size: 200px;
    mix-blend-mode: overlay;
    opacity: 0.3;
  }

  .footer__container {
    margin-inline: auto;
    max-width: var(--m5ka-content-width);
    padding-inline: var(--m5ka-content-gutter);
  }

  .footer__container > * + * {
    margin-block-start: calc(var(--m5ka-spacing) * 2);
  }

  .footer__content > * + * {
    margin-block-start: var(--m5ka-spacing);
  }

  .footer__content, .footer__copyright {
    text-align: center;
  }

  .footer__copyright {
    color: var(--m5ka-text-subtle);
  }
}
